@media screen and ( min-width: 1100px )
	.header
		&__btn
			&:hover
				cursor: pointer
	.hero
		&__start
			&:hover
				cursor: pointer
	.settings
		&__input
			&-btn
				&:hover
					cursor: pointer
@media screen and ( max-width: 1100px )
	html
		font-size: 12px
@media screen and ( max-width: 525px )
	.header
		&__heading
			max-width: 12rem
			text-align: center
@media screen and ( max-height: 400px )
	.hero
		&__heading
			margin-bottom: 1rem
		&__timer
			font-size: 6rem
			margin-bottom: 1rem
